{% extends 'storegp/main.html' %}
{% load static %}
{% block content %}
<center>
    <h2>Vũ Tiến Hùng</h2>
        <p>Người quảng cáo , lập trang web với mục đích học tập ,nghiên cứu</p>
                  <h2>Vũ Ngọc Định&nbsp;</h2>
                  <p>Người&nbsp; lắp đặt ,thi công ,sửa chữa</p>

                  <h2>Vũ Thị Nga</h2>
                  <p>Trợ lí làm việc&nbsp;</p>

            <h2>Ngoại thất - QUẢNG ĐÔNG </h2>
            <p>Công ty tư nhân thành lập hơn 6 năm ,Đội ngũ nhân viên có hơn 10 năm kinh nghiệm </p>
            <p>SẢn phẩm phù hợp với mọi nhà ,chất liệu đứng đầu trong chuỗi hàng nhập khẩu</p>
            <p> BẢo hành trên 3 năm ,an toàn cho người sử đụng </p>

                  <h2>NGOẠI THẤT - Quảng Đông</h2>
                  <p>230 Mễ Trì -Từ Liêm -Hà Nội</p>
                  <p >Công ty đã hoạt động trên 5 năm&nbsp;<br>Làm việc phủ sóng từ Bắc vào Nam</p>
</center>
{% endblock content %}