{% extends 'storegp/main.html' %}
{% load static %}
{% block content %}

<div style="  background-color: while ; width: 1300px; height: 150px;"></div>

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
		</div>
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ product.imageURL }}">
			<div class="box-element product">
				<h6><strong> {{product.name}} </strong></h6>
				<h6><strong> {{product.ditail}} </strong></h6>
				<hr>
				<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'store' %}"> Back Home View</a>
				<h4 style="display: inline-block; float: right"><strong> {{product.price|floatformat:2}} </strong></h4>
			</div>
		</div>
		<div class="col-lg-4">
		</div>
		{% endfor %}
	</div>

<div style="  background-color: while ; width: 1300px; height: 40px; ; text-align: center"></div>
<center >
		<hr>
</center>
<div style="  background-color: while ; width: 1300px; height: 100px; ; text-align: center"></div>
{% endblock content %}